<a href="https://colab.research.google.com/github/surajmaurya017/devextreme-documentation/blob/16_1/Practice_29042024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
p=1
for i in range(6):
  for j in range((i)):
    print(p, end=" ")
    p+=1
  print(" ")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
for i in (65):
  for j in (i):
    print(char)

In [ ]:
for i in range(65,70):
  print(' '*(5-i+1)+chr(i)*(2*i-1))

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE

In [ ]:
for i in range(65,70):
  for j in range(5-i+1):
    print(chr(i),end=" ")
  print()

In [ ]:
for i in range(65,70):
  print(' '*(69-i+1)+chr(i)*(2*(i-65)+1))

     A
    BBB
   CCCCC
  DDDDDDD
 EEEEEEEEE

In [ ]:
rows= 70
for i in range (65,rows+1):
  print(" "*(rows - i ),end=" ")
  for j in range(65,i+1):
    print(chr(i),end=" ")
  print()

      A
     B B
    C C C
   D D D D
  E E E E E
 F F F F F F

In [ ]:
rows= 70
p=65
for i in range (65,rows+1):
  print(" "*(rows - i ),end=" ")
  for j in range(65,i+1):
    print(chr(p),end=" ")
    p+=1
  print()

      A
     B C
    D E F
   G H I J
  K L M N O
 P Q R S T U

In [ ]:
rows= 9
p=1
for i in range (1,rows+1):
  for j in range(i,9):
    print(" " ,end = " ")
  for k in range(1,i):
    print(k , end = "   ")
  for j in (i,-1):

  print()

              1
            1   2
          1   2   3
        1   2   3   4
      1   2   3   4   5
    1   2   3   4   5   6
  1   2   3   4   5   6   7
1   2   3   4   5   6   7   8

In [ ]:
rows= 10
p=1
for i in range (1,rows+1):
  for j in range(i):
    print(" "*(rows - i ),end=" ")
    for j in range(i):
      print(p,end=" ")
      p+=1
    print()

          1
         2 3
         4 5
        6 7 8
        9 10 11
        12 13 14
       15 16 17 18
       19 20 21 22
       23 24 25 26
       27 28 29 30
      31 32 33 34 35
      36 37 38 39 40
      41 42 43 44 45
      46 47 48 49 50
      51 52 53 54 55
     56 57 58 59 60 61
     62 63 64 65 66 67
     68 69 70 71 72 73
     74 75 76 77 78 79
     80 81 82 83 84 85
     86 87 88 89 90 91
    92 93 94 95 96 97 98
    99 100 101 102 103 104 105
    106 107 108 109 110 111 112
    113 114 115 116 117 118 119
    120 121 122 123 124 125 126
    127 128 129 130 131 132 133
    134 135 136 137 138 139 140
   141 142 143 144 145 146 147 148
   149 150 151 152 153 154 155 156
   157 158 159 160 161 162 163 164
   165 166 167 168 169 170 171 172
   173 174 175 176 177 178 179 180
   181 182 183 184 185 186 187 188
   189 190 191 192 193 194 195 196
   197 198 199 200 201 202 203 204
  205 206 207 208 209 210 211 212 213
  214 215 216 217 218 219 220 221 222
  223 224 225 226 227 228 229 230 231
  232 233 234 235 236 237 238 239 240
  241 242 243 244 245 246 247 248 249
  250 251 252 253 254 255 256 257 258
  259 260 261 262 263 264 265 266 267
  268 269 270 271 272 273 274 275 276
  277 278 279 280 281 282 283 284 285
 286 287 288 289 290 291 292 293 294 295
 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315
 316 317 318 319 320 321 322 323 324 325
 326 327 328 329 330 331 332 333 334 335
 336 337 338 339 340 341 342 343 344 345
 346 347 348 349 350 351 352 353 354 355
 356 357 358 359 360 361 362 363 364 365
 366 367 368 369 370 371 372 373 374 375
 376 377 378 379 380 381 382 383 384 385

In [ ]:
a=[1,2,3,4,-4,-6,-7,-8,-9]

In [ ]:

for i in a:
  if i <0:
    a.remove(i)


print(a)

[1, 2, 3, 4, -6, -8]

In [ ]:
a

[1, 2, 3, 4, -4, -6, -7, -8, -9]

In [ ]:

a= sorted(a)

In [ ]:
print(a)

[-9, -8, -7, -6, -4, 1, 2, 3, 4]

In [ ]:
length = len(a)
for i in range(length):
  if a[0] < 0:
    a.pop[0]
    print(a)

In [ ]:
8104126696

In [ ]:

sum = 1
x = int(input("Enter nu for factorial" ))
for i in range(1,x+1):
  sum = sum *i
  print(sum)

Enter nu for factorial5
1
2
6
24
120

In [ ]:
a=[-1,-5,-6,0,45,78,-6]

In [ ]:
a=sorted(a)
a

[-6, -6, -5, -1, 0, 45, 78]

In [ ]:
length=len(a)

In [ ]:
length

7

In [ ]:
for i in (a):
  if a[0]<=0:
    a.pop(0)
print(a)

[0, 45, 78]

In [ ]:
num=5
a=1

In [ ]:
for i in range(1,num+1):
  a=a*i
  print(a)

1
2
6
24
120

In [11]:
def factorial_(n):
  if n==0:
    return 1
  else:
    return n * factorial_(n-1)

In [12]:
num = 5
print(factorial_(num))

120

In [26]:
x = ('e','f','g','h','a','b','c','d')

In [28]:
sorted(x,reverse = True)

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [2]:
a = {1,2,2,2,3,4,4,4,4,5,6,7}

In [32]:
set(a)

{1, 2, 3, 4, 5, 6, 7}